converter {
    ion-content {
	background-color: #c5d8e9 !important;
	ion-select.from-currency, ion-select.to-currency {
	    max-width: 100%;
	    font-size: 1.5em;
	    div.select-text {
		text-align: right;
	    }
	}
	ion-item {
	    div.item-inner {
		border-bottom: none !important;
	    }
	}
	div.converted-amount {
	    font-size: 2.5em;
	}
    }
    ion-header {
	ion-navbar {
	    div.toolbar-background {
		background-color: #4c93b9;
	    }
	    h2 {
		color: white;
	    }
	}
    }
}
ion-toast.welcome-toast {
    .toast-wrapper {
        width: 85% !important;
        border-radius: 25px;
    }
    .toast-container {
        background-color: #dff0d8;
        border-radius: 25px;
        .toast-message, button {
	    color: #3c763d;
	    font-weight: bold;
	    border-color: #d6e9c6;
        }
    }
}
